body {
    margin: 0;
    padding: 0;
    background-color: #e0e2ef;
    color: #f0ae65;

}
.navbar {
    width: auto;
    background-color: #3e6e7b;
    margin-bottom: 2em;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul li {
    margin: 15px;
    list-style: none;
    text-decoration: none;
    /* border-bottom: 1.5px solid red; */
    cursor: pointer;
}

.nav-links ul li a {
    margin: 15px;
    list-style: none;
    text-decoration: none;
    color: #f0ae65;
    font-weight: 700;
    font-family: 'Lato', sans-serif;

}

.nav-links ul li:active {
  color: red;
}

/* hero sectio */
.hero {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 350px;
    background-size: cover;
    border-radius: 7px;

}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    padding: 10px;
    border: none;
    background-color: #33bd8f11;
    color: #fff;
    cursor: pointer;
}

.prev-btn {
    left: 0.1em;
}

.next-btn {
    right: 0.1em;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}
.dot {
    cursor: pointer;
    background-color: #979797;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #3e6e7b;
}

/*  footer styling   */

.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #acacc0;
    color: #f0ae65;
}

#to-top-svg {
    color: #f0ae65;
}
footer {
    position: relative;
    background-color: #3e6e7b;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    max-width: 300px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f0ae65;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.last-text {
    /* margin-top: 20px; */
    padding: 2% 5%; /* Adjust as needed */
}

.made-by-text {
    font-size: 1.2em;
    font-weight: 600;
    color: #555; /* Adjust the color as needed */
    margin-bottom: 0; /* Remove any default margin */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}







/* Responsive Styles */
@media screen and (max-width: 600px) {
    .hero {
        max-width: 100%;
    }
    
    .slide {
        height: 200px;
    }
    .footer-content {
        flex-direction: column;
        
    }

    .footer-section {
        max-width: none; /* Allow full width on smaller screens */
        margin-bottom: 1em;
    }

    .made-by-text {
        position: static; /* Reset position for smaller screens */
        transform: none;
    }
}
